.modal-button {
    margin: 20px 0 20px 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    color:  #333;
    font-size: 20px;
  
    top:0;
    position:relative;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
  
    margin-top: 20px;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    font-size: 22px;
    top: -12px;
    text-decoration: none;
  }

.image {
    height: 175px;
    width: 100%;
}

.image-checkbox-container {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    width: 100%;
    background-color: bisque;
}

.image-checkbox {
    cursor: pointer;
    margin-top: 15px;
    cursor: pointer;
}
